{erl_opts, [debug_info]}.
{deps, [{gun, "2.1.0"},
        {ocpp, {git, "https://github.com/wfvining/ocpp", {branch, "main"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.13.0"}}}]}.

{relx, [
    {release, {electrophorus, "0.1.0"}, [
        voltai,
        electricus,
        sasl
    ]},

    {mode, dev},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    %% prod is the default mode when prod
    %% profile is used, so does not have
    %% to be explicitly included like this
    {prod, [
        {relx, [
            {mode, prod}

            %% use minimal mode to exclude ERTS
            %% {mode, minimal}
        ]}
    ]}
]}.
